# URL da API usada no frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# URL do WebSocket usada no frontend
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Chave secreta usada no backend para geração/validação de JWTs
JWT_SECRET=sua_chave_jwt_aqui